   
    <link rel="stylesheet" href="./css/running.css">

    <div class="container2">
    <header class="header">
        {{#if loggedInWithGoogle}}
            <h1>Get Running, {{firstName}}!</h1>   
        {{else}}
            <h1>Get Running, {{first_name}}!</h1>
        {{/if}}
    </header>
        <div class="card-container">

            <div class="run-stats">
                <h4 class="card-title-stats">Current Run</h4>

                    <form class="runForm">
                        <div class="statsCard">

                            <div class="input-field" id="distanceInput">
                                <i class="fa-solid fa-person-running"></i>
                                <input type="text" placeholder="Distance" id="distanceText">
                            </div>
                            <div class="input-field" id="durationInput">
                                <i class="fa-solid fa-stopwatch"></i>
                                <input type="text" placeholder="Duration"
                                id="durationText">
                            </div>
                            <div class="input-field" id="feelingInput">
                                <i class="fa-solid fa-face-smile" id="smileyFace"></i>
                                <input type="text" placeholder="How do you feel?" id="feelingText">
                            </div>
                            <div class="submitBtn-field">
                                <button type="button" id="runSubmitBtn">Submit</button>
                            </div>
                            
                        </div>
                    </form>

            </div>
            <hr>


            <div class="run-history">
                <h4 class="card-title-history">Run History</h4>
                    <div class="historyCard">
                        
                        {{#each statsData}}
                            <h4>Date & Time: {{this.dataValues.date}}, {{this.dataValues.time}}</h4>
                            <ul class="historyBlock">
                                <li>Distance: {{this.dataValues.distance}}</li>
                                <li>Duration: {{this.dataValues.duration}}</li>
                                <li>Feeling: {{this.dataValues.feeling}}</li>
                            </ul>
                        {{/each}}

                    </div>
            </div>
        </div>
    </div>

    <script src="../models/stats.js"></script>
    {{!-- <script src="../public/js/runningData.js"></script> --}}
    <script src="./js/runForm.js"></script>



